<!DOCTYPE html>
<html xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" rel="stylesheet">
    <title>CityBoard</title>
</head>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" th:href="@{/}">CityBoard</a>
    <div class="collapse navbar-collapse" id="main-navigation">
        <ul class="navbar-nav">
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/user/requests}">Мои запросы</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/user/adverts}">Мои объявления</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/user/advert/create}">Создать объявление</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">О проекте</a>
            </li>
        </ul>
    </div>
    <a class="nav-link btn" sec:authorize="isAnonymous()" th:href="@{/login}">Войти</a>
    <a class="nav-link btn" sec:authorize="isAnonymous()" th:href="@{/registration}">Зарегистрироваться</a>
    <span class="navbar-text" sec:authorize="hasRole('ROLE_ADMIN')">[Администратор]</span>
    <span class="navbar-text" sec:authorize="hasRole('ROLE_MOD')">[Модератор]</span>
    <form method="post" sec:authorize="isAuthenticated()" th:action="@{/logout}">
        <button class="nav-link btn" type="submit">Выйти</button>
    </form>
</nav>

<body>
<h2 class="mb-5" th:if="${#lists.isEmpty(Adverts)}">Объявления не найдены</h2>
<table class="table table-bordered table-hover" th:if="${not #lists.isEmpty(Adverts)}">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Тип</th>
        <th scope="col">Район</th>
        <th scope="col">Улица</th>
        <th scope="col">Дом</th>
        <th scope="col">Этаж /этажи</th>
        <th scope="col">Комнаты</th>
        <th scope="col">Жилая площадь /площадь</th>
        <th scope="col">Цена</th>
        <th:block sec:authorize="hasRole('ROLE_MOD')">
            <th scope="col">Модератор</th>
        </th:block>
        <th:block sec:authorize="hasRole('ROLE_MOD')">
            <th scope="col" sec:authorize="hasRole('ROLE_ADMIN')">Администратор</th>
        </th:block>
    </tr>
    </thead>
    <tbody>
    <tr th:each="advert : ${Adverts}">
        <th scope="row">
            <a target="_blank" th:href="@{/advert(id=${advert.id})}">Просмотр</a>
        </th>
        <th:block th:switch="${advert.type}">
            <td th:case="${T(com.CityBoard.models.enums.AdvertType).SALE}">Продажа</td>
            <td th:case="${T(com.CityBoard.models.enums.AdvertType).RENT}">Аренда</td>
        </th:block>
        <td th:text="${advert.district}"></td>
        <td th:text="${advert.street}"></td>
        <td th:text="${advert.house_code}"></td>
        <td th:text="${advert.floor + '/ ' + advert.floors}"></td>
        <td th:text="${advert.rooms_num}"></td>
        <td th:text="${advert.living_area + '/ ' + advert.area}"></td>
        <td th:text="${advert.price}"></td>
        <td sec:authorize="hasRole('ROLE_MOD')">
            <a class="btn btn-secondary"
               th:href="@{'/mod/check?id=' + ${advert.id}}" th:unless="${advert.modCheck}">Проверить</a>
        </td>
        <td sec:authorize="hasRole('ROLE_ADMIN')">
            <a class="btn btn-secondary"
               th:href="@{'/admin/adverts/delete?id=' + ${advert.id}}">Удалить</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>








