<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Create Advert</title>
</head>
<body>
  <form action="#" th:action="@{/save-advert}" th:object="${Advert}" method="post">
    <table>
      <tr>
        <th>Name</th>
        <th>Value</th>
      </tr>
      <tr>
        <td>type</td>
        <select name="type">
          <option th:each="advertOpt : ${T(com.CityBoard.models.enums.AdvertType).values()}"
                  th:value="${advertOpt}" th:text="${advertOpt}"></option>
        </select>
      </tr>
      <tr>
        <td>email</td>
        <td><input type="text" th:field="*{email}" id="email"></td>
      </tr>
      <tr>
        <td>phone</td>
        <td><input type="text" th:field="*{phone}" id="phone"></td>
      </tr>
      <tr>
        <td>address</td>
        <td><input type="text" th:field="*{address}" id="address"></td>
      </tr>
      <tr>
        <td>price</td>
        <td><input type="number" th:field="*{price}" id="price"></td>
      </tr>
      <tr>
        <td>area</td>
        <td><input type="text" th:field="*{area}" id="area"></td>
      </tr>
      <input type="Submit" value="Create advert">
    </table>
  </form>
</body>
</html>